<div>
    <div class="profile row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">User name:</label>
                <div *ngIf="isEdit" class="col-md-7">
                    <input id="name" class="form-control" type="text" value="{{user.name}}">
                </div>
                <div *ngIf="!isEdit" class="col-md-7">
                    <input id="name" class="form-control" type="text" value="{{user.name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="email">User email:</label>
                <div *ngIf="isEdit" class="col-md-7">
                    <input id="email" class="form-control" type="email" value="{{user.email}}">
                </div>
                <div *ngIf="!isEdit" class="col-md-7">
                    <input id="email" class="form-control" type="email" value="{{user.email}}" disabled>
                </div>
            </div>
    
            <div class="form-group">
                <label for="money">Money:</label>
                <div *ngIf="isEdit" class="col-md-7">
                    <input id="money" class="form-control" type="number" min="0" step="0.01" value="{{user.money}}">
                </div>
                <div *ngIf="!isEdit" class="col-md-7">
                    <input id="money" class="form-control" type="number" min="0" step="0.01" value="{{user.money}}" disabled>
                </div>
            </div>
            <div *ngIf="isEdit" class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </div>


        </div>
        
        <div class="col-md-4" name="achivements">
            <div *ngFor="let achivement of userAchivements">
                <label>{{achivement.name}}</label>
            </div>
        </div>
    </div>
    
    <div *ngIf="isOwner">
sdfsdfsd
    </div>

    <div name="userStartup">
        <app-startup-table-component [startupArray]=startupsCreatedByUser></app-startup-table-component>
    </div>

    <div name="userDonatedStartup">

    </div>

</div>