<div>
    <div class="profile row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">User name:</label>
                <div *ngIf="isEdit" class="col-md-7">
                    <input id="name" class="form-control" type="text" [(ngModel)]="user.name">
                </div>
                <div *ngIf="!isEdit" class="col-md-7">
                    <input id="name" class="form-control" type="text" [(ngModel)]="user.name" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="email">User email:</label>
                <div *ngIf="isEdit" class="col-md-7">
                    <input id="email" class="form-control" type="email" [(ngModel)]="user.email">
                </div>
                <div *ngIf="!isEdit" class="col-md-7">
                    <input id="email" class="form-control" type="email" [(ngModel)]="user.email" disabled>
                </div>
            </div>
    
            <div class="form-group">
                <label for="money">Money:</label>
                <div class="row">
                    <div class="col-md-2">
                        <label>Currently:</label>
                    </div>
                    <div class="col-md-1">
                        <label>{{user.money}}</label>
                    </div>
                    <div class="col-md-1">
                        <label>money</label>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3" *ngIf="isEdit">
                        <button class="btn btn-success" type="submit" (click)="addMoneyToBalance()">Add 1000 money</button>
                    </div>
                </div>
            </div>
            <div *ngIf="isEdit" class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" type="submit" (click)="saveChanges()">Save shanges</button>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-success" type="submit" (click)="createStartup()">Create startup</button>
                </div>
            </div>


        </div>
        
        <div class="col-md-4" name="achivements">
            <div *ngFor="let achivement of userAchivements">
                <label>{{achivement.name}}</label>
            </div>
        </div>
    </div>
    
    <div *ngIf="isOwner">

        !!!!!!!!!!!!!!!!!
        тут надо добавить карусель
        !!!!!!!!!!!!!!!!!

    </div>

    <div name="userStartup">
        <app-startup-table-component [startupArray]=startupsCreatedByUser></app-startup-table-component>
    </div>

    <div name="userDonatedStartup">
        <app-startup-table-component [startupArray]=sturtupsFinancedByUser></app-startup-table-component>
    </div>

</div>