<div class="menu">
    <div class="row">
        <div class="col-md-2" name="logo">
            <div class="logo">
                <a routerLink="/">
                    <img sizes="50" src="https://sun9-50.userapi.com/impg/NIrgnZOL-IWtclKY4nzf_2ZDNukiq5NdZqKvIA/YfxdxPtvv-c.jpg?size=101x85&quality=96&sign=2750cdf17b189ad348f672b4cede72bf&type=album">
                </a>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <app-main-menu-account></app-main-menu-account>
        </div>
    </div>
</div>


