<div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <label>Tags:</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <label>Add new:</label>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" id="header" class="form-control" [(ngModel)]="newTag"/>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" type="submit" (click)="addTag()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="tag-container col-md-6">
                <div *ngFor="let tag of tags" class="tag-item">
                    <label (click)="goToSearchByTag(tag.text)">{{tag.text}}</label>
                    <button class="btn btn-success" type="submit" (click)="deleteTag(tag.text)">Remove</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
