.common-background { /*in index.html*/
    background-color: WhiteSmoke;
}

.main-header-background {
    background-color: DarkGray;
}

.item-tier-1 {
    background-color: Gainsboro;
}


.item-tier-2 {
    background-color: LightGray;

}


.item-tier-3 {
    background-color: Silver;

}


.item-tier-4 {
    background-color: DarkGray;
}


.item-tier-5 {
    background-color: Gray;
}

.link-header {
    background-color: orangered;
}

.header-flex {
    display: flex;
    justify-content: center;
}

.list-items-margin {
    margin-bottom: 5px;
}