<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-item-margin">
            <label class="margin-left">Login</label>
            <input id="login" class="form-control" type="text" #usernameInput (input)="username = usernameInput.value">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-item-margin">
            <label class="margin-left">Password</label>
            <input id="pass" class="form-control" type="password" #passwordInput (input)="password = passwordInput.value">
        </div>        
    </div>        

    <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-2 input-item-margin">
            <button class="btn btn-success" type="submit" (click)="login()">Sign in</button>
        </div>    
    </div>
</div>
