<div class="startup-table-item">
    <div class="row">
        <div class="col-md-2 startup-table-item-subitem2">
            <div>{{startup.author.name}} presents:</div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-7 startup-table-item-subitem2">
            <a (click)="goToStartup()">
                <label>{{startup.header}}</label>
            </a>
        </div>
    </div>
    <div class="row startup-table-item-subitem">
        {{startup.content}}
    </div>
    <div class="tags-container">
        <div *ngFor="let tag of startup.tags">
            <div class="tag-item startup-table-item-subitem">
                <a (click)="goToSearchByTag(tag.text)">
                    <label>{{tag.text}}</label>
                </a>
            </div>
        </div>
    </div>
</div>
